AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
BasedOnStyle: Microsoft
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           "^\"pch.hpp\"$"
    Priority:        0
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^"[^"]+"$'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           "^<.*>"
    Priority:        2
IndentAccessModifiers: false
Language: Cpp
PackConstructorInitializers: NextLine
SortIncludes: CaseInsensitive
TabWidth: '4'
UseTab: Never