menu "Kopter Conifiguration"

    choice WIFI_MODE
        prompt "WiFi mode"
        default WIFI_MODE_STATION
        help
            WiFi mode(station or softap).

        config WIFI_MODE_STATION
            bool "Station"
        config WIFI_MODE_SOFTAP
            bool "Softap"
    endchoice

    config ENABLE_LONG_RANGE
        bool "Enable Long Range"
        default "n"
        help
            When enable long range, the PHY rate of ESP32 will be 512Kbps or 256Kbps

    config AP_WIFI_SSID
        string "WiFi SSID"
        default "esp32_wifi"
        help
            SSID (network name) for the example to connect to.

    config AP_WIFI_PASSWORD
        string "WiFi Password"
        default "123456789"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config AP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 6
        help
            WiFi channel (network channel) for the example to use.

    config AP_MAX_STA_CONN
        int "Maximal STA connections"
        default 1
        help
            Max number of the STA connects to AP.

    config PMK
        string "ESPNOW primary master key"
        default "pmk1234567890123"
        help
            ESPNOW primary master for the example to use. The length of ESPNOW primary master must be 16 bytes.

    config LMK
        string "ESPNOW local master key"
        default "lmk1234567890123"
        help
            ESPNOW local master for the example to use. The length of ESPNOW local master must be 16 bytes.

endmenu