menu "Kopter Conifiguration"

    choice WIFI_MODE
        prompt "WiFi mode"
        default WIFI_MODE_STATION
        help
            WiFi mode(station or softap).

        config WIFI_MODE_STATION
            bool "Station"
        config WIFI_MODE_SOFTAP
            bool "Softap"
    endchoice

    config ENABLE_LONG_RANGE
        bool "Enable Long Range"
        default "n"
        help
            When enable long range, the PHY rate of ESP32 will be 512Kbps or 256Kbps

    config AP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 6
        help
            WiFi channel (network channel) for the example to use.

    config I2C_SDA_PIN
        int "SDA pin"
        default 21
        help
            SDA pin for communicate by I2C bus
            
    config I2C_SCL_PIN
        int "SCL pin"
        default 22
        help
            SCL pin for communicate by I2C bus

endmenu